<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-text-black w3-hover-white w3-large" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/index.html" class="w3-bar-item w3-button w3-padding-large w3-white">首页</a>
        <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">文章</a>-->
        <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">图片</a>-->
        <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">小程序</a>-->
        <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">关于</a>-->
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <!--<a href="#" class="w3-bar-item w3-button w3-padding-large">文章</a>-->
        <!--<a href="#" class="w3-bar-item w3-button w3-padding-large">图片</a>-->
        <!--<a href="#" class="w3-bar-item w3-button w3-padding-large">小程序</a>-->
        <!--<a href="#" class="w3-bar-item w3-button w3-padding-large">关于</a>-->
    </div>
</div>