.cursor-pointer {
    cursor: pointer;
}

.indented {
    text-indent:2em;
}

.lamp {
    border: 1px solid #dddddd;
    margin: 16px 0;
}

.literal {
    font-family: monospace;
}

.name-of-book {
    font-weight: bold;
    font-style: italic;
}

.name-of-person {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.name-of-place {
    color: #444444;
    font-weight: bold;
}

.text-compare-blue {
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: double;
}

.text-compare-green {
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: double;
}

.text-compare-grey {
    text-decoration-line: underline;
    text-decoration-color: grey;
    text-decoration-style: double;
}

.text-compare-red {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
}

.text-emphasize {
    font-weight: bold;
    font-family: "courier new", "Times New Roman", serif;
}

.text-example {
    color: #444444;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.text-key-point {
    /*color: purple;*/
    font-weight: bold;
    /*font-family: "courier new", sans-serif;*/
    text-decoration-line: underline;
    text-decoration-color: red;
}

.text-monospace {
    font-weight: bold;
    font-family: monospace;
}

.text-underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.text-double-underline {
    text-decoration-line: underline;
    text-decoration-color: grey;
    text-decoration-style: double;
}

/* Tooltip container */
.tooltip {
    position: relative;
    /*display: inline-block;*/
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -180px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.w3-tangerine {
    font-size:36px;
    font-family: "Tangerine", "Comic Sans MS", serif;
}

.vocabulary {
    font-weight: bold;
    font-family: "Comic Sans MS", serif;
}

.external {
    color: #3a3a3a;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(/images/external-link-icon.svg);
    padding-right: 13px;
}

code {
    font-family: monospace;
    padding: 2px 4px;
    margin: 0;
    font-size: 80%;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
}