<!-- 标题 -->
<h1 class="w3-center w3-padding-64 w3-tangerine"><span class="w3-tag w3-wide">Merging Two Classes into One</span></h1>
<!-- 内容 -->

<div style="text-align: right">
    <a title="Table Of Content" href="/archive/java/java_asm_index.html">TOC</a>
    <a href="javascript:void(0);" onclick="toggle_all_sub_note()">Toggle Commentary</a>
</div>

<h2>预期目标</h2>

<pre title="HelloWorld.java" class="javacode">
public class HelloWorld {
    public void test() {
        System.out.println("test method");
    }
}
</pre>

<pre title="GoodChild.java" class="javacode">
public class GoodChild implements Cloneable, Runnable {
    @Override
    public Object clone() throws CloneNotSupportedException {
        return super.clone();
    }

    @Override
    public void run() {
        System.out.println("run method");
    }
}
</pre>

<pre title="HelloWorld.java (预期)" class="javacode">
public class HelloWorld implements Cloneable, Runnable {
    public void test() {
        System.out.println("test method");
    }

    @Override
    protected Object clone() throws CloneNotSupportedException {
        return super.clone();
    }

    @Override
    public void run() {
        System.out.println("run method");
    }
}
</pre>

<h2>编码实现</h2>

<pre title="ClassMergeAdapter.java" class="javacode">
import org.objectweb.asm.ClassVisitor;
import org.objectweb.asm.tree.ClassNode;
import org.objectweb.asm.tree.FieldNode;
import org.objectweb.asm.tree.MethodNode;

import java.util.List;

public class ClassMergeAdapter extends ClassVisitor {
    private final ClassNode anotherClass;

    public ClassMergeAdapter(int api, ClassVisitor cv, ClassNode anotherClass) {
        super(api, cv);
        this.anotherClass = anotherClass;
    }

    @Override
    public void visitEnd() {
        List&lt;FieldNode&gt; fields = anotherClass.fields;
        for (FieldNode fn : fields) {
            fn.accept(this);
        }
        List&lt;MethodNode&gt; methods = anotherClass.methods;
        for (MethodNode mn : methods) {
            String methodName = mn.name;
            if ("&lt;init&gt;".equals(methodName) || "&lt;clinit&gt;".equals(methodName)) {
                continue;
            }
            mn.accept(this);
        }
        super.visitEnd();
    }
}
</pre>

<pre title="ClassMergeAdapterRun.java" class="javacode">
import lsieun.utils.FileUtils;
import lsieun.utils.ReadUtils;
import org.objectweb.asm.ClassReader;
import org.objectweb.asm.ClassVisitor;
import org.objectweb.asm.ClassWriter;
import org.objectweb.asm.Opcodes;
import org.objectweb.asm.tree.ClassNode;

import java.util.List;

public class ClassMergeAdapterRun {
    public static void main(String[] args) {
        String first_class = "sample/HelloWorld";
        String second_class = "sample/GoodChild";
        String filepath = getFilePath(first_class);
        byte[] bytes1 = ReadUtils.readByPath(filepath);

        //（1）构建ClassReader
        ClassReader cr = new ClassReader(bytes1);

        //（2）构建ClassWriter
        ClassWriter cw = new ClassWriter(ClassWriter.COMPUTE_FRAMES);

        //（3）串连ClassVisitor
        byte[] second_class_bytes = rename(second_class, first_class);
        ClassNode cn = getClassNode(second_class_bytes);
        List&lt;String&gt; interface_list = cn.interfaces;
        int size = interface_list.size();
        String[] interfaces = new String[size];
        for (int i = 0; i < size; i++) {
            String item = interface_list.get(i);
            interfaces[i] = item;
        }
        ClassVisitor cv = new ClassMergeAdapter(Opcodes.ASM9, cw, cn);
        cv = new InterfaceAdder(Opcodes.ASM9, cv, interfaces);

        //（4）两者进行结合
        cr.accept(cv, 0);

        //（5）重新生成Class
        byte[] bytes2 = cw.toByteArray();

        FileUtils.writeBytes(filepath, bytes2);
    }

    public static ClassNode getClassNode(byte[] bytes) {
        ClassReader cr = new ClassReader(bytes);
        ClassNode cn = new ClassNode();
        cr.accept(cn, 0);
        return cn;
    }

    public static byte[] rename(String origin_name, String target_name) {
        String origin_filepath = getFilePath(origin_name);
        byte[] bytes1 = ReadUtils.readByPath(origin_filepath);

        //（1）构建ClassReader
        ClassReader cr = new ClassReader(bytes1);

        //（2）构建ClassWriter
        ClassWriter cw = new ClassWriter(ClassWriter.COMPUTE_FRAMES);

        //（3）串连ClassVisitor
        ClassVisitor cv = new ClassRenameAdapter(Opcodes.ASM9, cw, origin_name, target_name);

        //（4）两者进行结合
        cr.accept(cv, 0);

        //（5）重新生成Class
        return cw.toByteArray();
    }

    public static String getFilePath(String internalName) {
        String relative_path = String.format("%s.class", internalName);
        return FileUtils.getFilePath(relative_path);
    }
}
</pre>

<h2>验证结果</h2>

<pre title="HelloWorldRun.java" class="javacode">
import java.lang.reflect.Method;

public class HelloWorldRun {
    public static void main(String[] args) throws Exception {
        Class<?> clazz = Class.forName("sample.HelloWorld");
        Object obj = clazz.newInstance();

        Method method = clazz.getDeclaredMethod("clone");
        HelloWorld instance = (HelloWorld) method.invoke(obj);

        Runnable r = (Runnable) instance;
        r.run();
    }
}
</pre>

<pre title="Run output" class="plaintext">
run method
</pre>
