<!-- 标题 -->
<h1 class="w3-center w3-padding-64 w3-tangerine"><span class="w3-tag w3-wide">Adding a New Field</span></h1>
<!-- 内容 -->

<div style="text-align: right">
    <a title="Table Of Content" href="/archive/java/java_asm_index.html">TOC</a>
    <a href="javascript:void(0);" onclick="toggle_all_sub_note()">Toggle Commentary</a>
</div>

<h2>预期目标</h2>

<pre title="HelloWorld.java" class="javacode">
public class HelloWorld {
    public String name;
    public int age;
}
</div>

<h2>编码实现</h2>

<pre title="FieldAdder.java" class="javacode">
import org.objectweb.asm.ClassVisitor;
import org.objectweb.asm.FieldVisitor;

public class FieldAdder extends ClassVisitor {
    private final int fieldAccess;
    private final String fieldName;
    private final String fieldDesc;
    private boolean isFieldPresent;

    public FieldAdder(int api, ClassVisitor classVisitor, int fieldAccess, String fieldName, String fieldDesc) {
        super(api, classVisitor);
        this.fieldAccess = fieldAccess;
        this.fieldName = fieldName;
        this.fieldDesc = fieldDesc;
    }

    @Override
    public FieldVisitor visitField(int access, String name, String descriptor, String signature, Object value) {
        if (name.equals(fieldName)) {
            isFieldPresent = true;
        }
        return super.visitField(access, name, descriptor, signature, value);
    }

    @Override
    public void visitEnd() {
        if (!isFieldPresent) {
            FieldVisitor fv = cv.visitField(fieldAccess, fieldName, fieldDesc, null, null);
            if (fv != null) {
                fv.visitEnd();
            }
        }
        super.visitEnd();
    }
}
</div>

<pre title="FieldAdderRun.java" class="javacode">
import lsieun.utils.FileUtils;
import lsieun.utils.ReadUtils;
import org.objectweb.asm.ClassReader;
import org.objectweb.asm.ClassVisitor;
import org.objectweb.asm.ClassWriter;
import org.objectweb.asm.Opcodes;

public class FieldAdderRun {
    public static void main(String[] args) {
        String relative_path = "sample/HelloWorld.class";
        String filepath = FileUtils.getFilePath(relative_path);
        byte[] bytes1 = ReadUtils.readByPath(filepath);

        //（1）构建ClassReader
        ClassReader cr = new ClassReader(bytes1);

        //（2）构建ClassWriter
        ClassWriter cw = new ClassWriter(0);

        //（3）串连ClassVisitor
        ClassVisitor cv = new FieldAdder(Opcodes.ASM9, cw, Opcodes.ACC_PUBLIC, "objValue", "Ljava/lang/Object;");

        //（4）两者进行结合
        cr.accept(cv, 0);

        //（5）重新生成Class
        byte[] bytes2 = cw.toByteArray();

        FileUtils.writeBytes(filepath, bytes2);
    }
}
</div>

<h2>验证结果</h2>

<pre title="check 1 (before)" class="plaintext">
$ javap sample.HelloWorld
public class sample.HelloWorld {
  public java.lang.String name;
  public int age;
  public sample.HelloWorld();
}
</div>

<pre title="check 2 (after)" class="plaintext">
$ javap sample.HelloWorld
public class sample.HelloWorld {
  public java.lang.String name;
  public int age;
  public java.lang.Object objValue;
  public sample.HelloWorld();
}
</div>

<table class="lamp">
    <tbody>
    <tr>
        <th style="width:34px">
            <img src="/images/lamp.jpg" alt="Note" style="height:32px;width:32px">
        </th>
        <td>
            <b>Note:</b> 在使用javap的过程中，如果要查看<code>private</code>类型的成员，需要添加<code>-p</code>参数。
        </td>

    </tr>
    </tbody>
</table>
<hr>
