<!-- 标题 -->
<h1 class="w3-center w3-padding-64 w3-tangerine"><span class="w3-tag w3-wide">Introducing Interface</span></h1>
<!-- 内容 -->

<div style="text-align: right">
    <a title="Table Of Content" href="/archive/java/java_asm_index.html">TOC</a>
    <a href="javascript:void(0);" onclick="toggle_all_sub_note()">Toggle Commentary</a>
</div>

<h2>预期目标</h2>

<pre title="HelloWorld.java" class="javacode">
public class HelloWorld {
    public String name;
    public int age;

    public HelloWorld(String name, int age) {
        this.name = name;
        this.age = age;
    }

    @Override
    protected Object clone() throws CloneNotSupportedException {
        return super.clone();
    }

    @Override
    public String toString() {
        return String.format("HelloWorld{name=%s, age=%d}", name, age);
    }

    public static void main(String[] args) {
        System.out.println("Hello World");
    }
}
</pre>

<pre title="HelloWorldRun.java" class="javacode">
import java.io.*;

public class HelloWorldRun {
    public static void main(String[] args) throws Exception {
        HelloWorld instance = new HelloWorld("Tom", 10);
        testClone(instance);
        testSerialize(instance);
    }

    public static void testClone(HelloWorld instance) throws CloneNotSupportedException {
        Object obj = instance.clone();
    }

    public static void testSerialize(HelloWorld instance) {
        String filename = "obj.data";
        write(instance, filename);
        Object obj = read(filename);
        System.out.println(obj);
    }

    public static void write(Object obj, String filename) {
        try (
                FileOutputStream fos = new FileOutputStream(filename);
                ObjectOutputStream oos = new ObjectOutputStream(fos)
        ) {
            oos.writeObject(obj);
            oos.flush();
        } catch (IOException e) {
            e.printStackTrace();
        }
    }

    public static Object read(String filename) {
        try (
                FileInputStream fis = new FileInputStream(filename);
                ObjectInputStream ois = new ObjectInputStream(fis);
        ) {
            return ois.readObject();
        } catch (IOException | ClassNotFoundException e) {
            e.printStackTrace();
        }
        return null;
    }
}
</pre>

<h2>编码实现</h2>

<pre title="InterfaceAdder.java" class="javacode">
import org.objectweb.asm.ClassVisitor;

import java.util.Arrays;
import java.util.HashSet;
import java.util.Set;

public class InterfaceAdder extends ClassVisitor {
    private final String[] newInterfaces;

    public InterfaceAdder(int api, ClassVisitor cv, String[] newInterfaces) {
        super(api, cv);
        this.newInterfaces = newInterfaces;
    }

    @Override
    public void visit(int version, int access, String name, String signature, String superName, String[] interfaces) {
        Set&lt;String&gt; set = new HashSet&lt;&gt;(); // 注意，这里使用Set是为了避免出现重复接口
        if (interfaces != null) {
            set.addAll(Arrays.asList(interfaces));
        }
        if (newInterfaces != null) {
            set.addAll(Arrays.asList(newInterfaces));
        }
        super.visit(version, access, name, signature, superName, set.toArray(new String[0]));
    }
}
</pre>

<pre title="InterfaceAdderRun.java" class="javacode">
import lsieun.utils.FileUtils;
import lsieun.utils.ReadUtils;
import org.objectweb.asm.ClassReader;
import org.objectweb.asm.ClassVisitor;
import org.objectweb.asm.ClassWriter;
import org.objectweb.asm.Opcodes;

public class InterfaceAdderRun {
    public static void main(String[] args) {
        String relative_path = "sample/HelloWorld.class";
        String filepath = FileUtils.getFilePath(relative_path);
        byte[] bytes1 = ReadUtils.readByPath(filepath);

        //（1）构建ClassReader
        ClassReader cr = new ClassReader(bytes1);

        //（2）构建ClassWriter
        ClassWriter cw = new ClassWriter(0);

        //（3）串连ClassVisitor
        String[] interfaces = new String[] {
                "java/lang/Cloneable",
                "java/io/Serializable",
        };
        ClassVisitor cv = new InterfaceAdder(Opcodes.ASM9, cw, interfaces);

        //（4）两者进行结合
        cr.accept(cv, 0);

        //（5）重新生成Class
        byte[] bytes2 = cw.toByteArray();

        FileUtils.writeBytes(filepath, bytes2);
    }
}
</pre>

<h2>验证结果</h2>

<pre title="check 1 (before)" class="plaintext">
$ javap sample.HelloWorld
public class sample.HelloWorld {
  public java.lang.String name;
  public int age;
  public sample.HelloWorld(java.lang.String, int);
  protected java.lang.Object clone() throws java.lang.CloneNotSupportedException;
  public java.lang.String toString();
  public static void main(java.lang.String[]);
}
</pre>

<pre title="check 2 (after)" class="plaintext">
javap sample.HelloWorld
public class sample.HelloWorld implements java.io.Serializable,java.lang.Cloneable {
  public java.lang.String name;
  public int age;
  public sample.HelloWorld(java.lang.String, int);
  protected java.lang.Object clone() throws java.lang.CloneNotSupportedException;
  public java.lang.String toString();
  public static void main(java.lang.String[]);
}
</pre>
