<!-- Introduction menu -->
<div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
        <img src="/images/avatar_g.jpg" style="width:100%">
        <div class="w3-container w3-white">
            <h4><b>学而时习之，不亦乐乎</b></h4>
            <p>吾尝终日而思矣，不如须臾之所学也；吾尝跂而望矣，不如登高之博见也。登高而招，臂非加长也，而见者远；顺风而呼，声非加疾也，而闻者彰。假舆马者，非利足也，而致千里；假舟楫者，非能水也，而绝江河。君子生非异也，善假于物也。--《荀子·劝学》</p>
            <p>胡适：怕什么真理无穷，进一寸有一寸的欢喜。</p>
        </div>
    </div>
    <hr>

    <!-- Posts -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">

            __POPULAR_POST_LIST__

        </ul>
    </div>
    <hr>

    <!-- Labels / tags -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
            <p>
                <span class="w3-tag w3-black w3-margin-bottom">Life</span>
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>-->
            </p>
        </div>
    </div>

    <!-- END Introduction Menu -->
</div>