<!-- Introduction menu -->
<div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
        <img src="/images/avatar_g.jpg" style="width:100%">
        <div class="w3-container w3-white">
            <h4><b>学而时习之，不亦乐乎</b></h4>
            <p>吾尝终日而思矣，不如须臾之所学也；吾尝跂而望矣，不如登高之博见也。登高而招，臂非加长也，而见者远；顺风而呼，声非加疾也，而闻者彰。假舆马者，非利足也，而致千里；假舟楫者，非能水也，而绝江河。君子生非异也，善假于物也。--《荀子·劝学》</p>
            <p>胡适：怕什么真理无穷，进一寸有一寸的欢喜。</p>
        </div>
    </div>
    <hr>

    <!-- Posts -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">

            __POPULAR_POST_LIST__

        </ul>
    </div>
    <hr>

    <!-- Labels / tags -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
            <p>
                <span class="w3-tag w3-black w3-margin-bottom">Life</span>
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span>-->
                <!--<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>-->
            </p>
        </div>
    </div>

    <!-- Excellent Website -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Excellent Website</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">

            <li class="w3-padding-16">
                <a href="https://docs.oracle.com/en/java/javase/index.html" target="_blank">Oracle Java SE Documentation</a>
            </li>

            <li class="w3-padding-16">
                <a href="https://www.javaworld.com/" target="_blank">JavaWorld</a>: Solutions for Java developers.
            </li>

            <li class="w3-padding-16">
                <a href="https://www.baeldung.com/start-here" target="_blank">Baeldung</a>: an engineer with a passion for teaching and building stuff on the web.
            </li>

            <li class="w3-padding-16">
                <a href="https://www.nayuki.io/" target="_blank">Project Nayuki</a>: a <strike>magical girl</strike> software developer in Toronto, Canada.
            </li>

            <li class="w3-padding-16">
                <a href="http://www.tsnien.idv.tw/" target="_blank">翻轉工作室、翻轉電子書、翻轉教室</a>: 这是台湾<b>粘添壽</b>博士的网站
            </li>

            <li class="w3-padding-16">
                <a href="http://www.allitebooks.org/" target="_blank">All IT eBooks</a>: Free IT eBooks Download
            </li>

            <li class="w3-padding-16">
                <a href="https://creation.com/" target="_blank">Creation Ministries International</a>: support the effective proclamation of the Gospel
            </li>

        </ul>
    </div>
    <hr>

    <!-- END Introduction Menu -->
</div>