<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white">
    <img src="__IMAGE_URL__" alt="__IMAGE_ALT__" style="width:100%">
    <div class="w3-container">
        <h3><b>__TITLE__</b></h3>
        <h5>__AUTHOR__，<span class="w3-opacity">__DATE__</span></h5>
    </div>

    <div class="w3-container">
        <p>
            __BRIEF_INTRO__
        </p>
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <p>
                    <button class="w3-button w3-padding-large w3-white w3-border" onclick="window.location.href='__DOC_URL__'">
                        <b>READ MORE »</b>
                    </button>
                </p>
            </div>
            <div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Views  </b> <span class="w3-badge">__VIEW_NUM__</span></span></p>
            </div>
        </div>
    </div>
</div>
<hr/>
