<!-- Introduction menu -->
<div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
        <img src="/images/avatar_g.jpg" style="width:100%">
        <div class="w3-container w3-white">
            <h4><b>学而时习之，不亦乐乎</b></h4>
            <p>吾尝终日而思矣，不如须臾之所学也；吾尝跂而望矣，不如登高之博见也。登高而招，臂非加长也，而见者远；顺风而呼，声非加疾也，而闻者彰。假舆马者，非利足也，而致千里；假舟楫者，非能水也，而绝江河。君子生非异也，善假于物也。--《荀子·劝学》</p>
            <p>博学之，审问之，慎思之，明辨之，笃行之。有弗学，学之弗能，弗措也；有弗问，问之弗知，弗措也；有弗思，思之弗得，弗措也；有弗辨，辨之弗明，弗措也；有弗行，行之弗笃，弗措也。人一能之，己百之，人十能之，己千之。果能此道矣，虽愚必明，虽柔必强。--《礼记·中庸》</p>
<!--            <p>博学，学习要广泛涉猎；审问，有针对性地提问请教；慎思，学会周全地思考；明辨，形成清晰的判断力；笃行，用学习得来的知识和思想指导实践。古人谈学习的五个方面，不管是学习书本知识也好，学习某种技能也好，都得经过反复训练才能完成。“有弗学”的意思是要么不学，学就要学会；如果学了还不会，“弗措也”，也就是说绝不放弃。这段话，不是对天才，而是对一般人说的，聪明人一下就学会，自己就学一百下，聪明人十次能学会的，自己就学一千次。只要有这种韧劲，哪怕开始迟钝一点，后来也会变得聪明的；开始柔弱的人，也会变得强壮有力。</p>-->
            <p>胡适：怕什么真理无穷，进一寸有一寸的欢喜。</p>
        </div>
    </div>
    <hr>

    <!-- Posts -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">

            __POPULAR_POST_LIST__

        </ul>
    </div>
    <hr>

    <!-- Labels / tags -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
            <p>
                <span class="w3-tag w3-black w3-margin-bottom">Life</span>
                <span class="w3-tag w3-black w3-margin-bottom">Excerpt</span>
                <span class="w3-tag w3-black w3-margin-bottom">English</span>
                <span class="w3-tag w3-black w3-margin-bottom">Code</span>
                <span class="w3-tag w3-black w3-margin-bottom">OS</span>
                <span class="w3-tag w3-black w3-margin-bottom">Tools</span>
                <span class="w3-tag w3-black w3-margin-bottom">Books</span>
            </p>
        </div>
    </div>

    <!-- Excellent Website -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Excellent Website</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
                <a href="https://www.jiweichengzhu.com/" target="_blank">积微成著</a>: 优秀个人博客
            </li>

            <li class="w3-padding-16">
                <a href="https://docs.oracle.com/en/java/javase/index.html" target="_blank">Oracle Java SE Documentation</a>
            </li>

            <li class="w3-padding-16">
                <a href="https://www.javaworld.com/" target="_blank">JavaWorld</a>: Solutions for Java developers.
            </li>

            <li class="w3-padding-16">
                <a href="https://www3.ntu.edu.sg/home/ehchua/programming/index.html" target="_blank">Singapore NanYang Technological University: programming notes</a>: programming notes.
            </li>

            <li class="w3-padding-16">
                <a href="https://www.baeldung.com/start-here" target="_blank">Baeldung</a>: an engineer with a passion for teaching and building stuff on the web.
            </li>

            <li class="w3-padding-16">
                <a href="https://www.nayuki.io/" target="_blank">Project Nayuki</a>: a <strike>magical girl</strike> software developer in Toronto, Canada.
            </li>

            <li class="w3-padding-16">
                <a href="http://www.tsnien.idv.tw/" target="_blank">翻轉工作室、翻轉電子書、翻轉教室</a>: 这是台湾<b>粘添壽</b>博士的网站
            </li>

            <li class="w3-padding-16">
                <a href="http://www.freedidi.com/" target="_blank">零度解说 FreeDiDi</a>
            </li>

            <li class="w3-padding-16">
                <a href="https://mreinhold.org/blog/" target="_blank">Mark Reinhold Blog</a>: the Chief Architect of the Java Platform Group at Oracle.
            </li>

            <li class="w3-padding-16">
                <a href="http://www.allitebooks.org/" target="_blank">All IT eBooks</a>: Free IT eBooks Download
            </li>

            <li class="w3-padding-16">
                <a href="https://creation.com/" target="_blank">Creation Ministries International</a>: support the effective proclamation of the Gospel
            </li>

            <li class="w3-padding-16">
                <a href="https://www.christianpost.com/" target="_blank">The Christian Post</a>
            </li>

            <li class="w3-padding-16">
                <a href="https://biblereasons.com/" target="_blank">Bible Reasons</a>
            </li>

            <li class="w3-padding-16">
                <a href="http://simonyuan.blogspot.com/" target="_blank">袁晓明博客</a>
            </li>

        </ul>
    </div>
    <hr>

    <!-- END Introduction Menu -->
</div>